@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
@import "bootstrap-sprockets";
@import "bootstrap";

/* General styles */

body {
   background-color: #fff;
   font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Muli', sans-serif;
   font-weight: 300;	
}

.btn-custom {
   background-color: #fff;
   color: #0a8fd5;
   font-family: 'Muli', sans-serif; 
   font-weight: 300;
   border-radius: 8px;
   padding: 10px 20px;
   &:hover {
      color: #383838;
      transition: 0.5s;
      background-color: #fff;
      text-decoration: none;
   }
}

.btn:hover {
   transition: 0.5s;
   color: #383838;
   background-color: #fff;
}

.navbar {
   font-family: 'Muli', sans-serif;
   text-transform: uppercase;
}

.navbar-default {
   background-color:black;

   padding-top: 5px;
   padding-bottom: 5px;


   .navbar-nav > li > a {
       color: white;
   }

   .navbar-link {
       color: white;
   }

   .navbar-brand {
       color: white;
       letter-spacing: 1.1px;
   }

}

.navbav-checkout {
   margin-top: 10px;
}